/* Reset some default styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Common Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #2373af;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
}

.grid-item {
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

/* Add more grid-specific styles here */

img {
  max-width: 40%;
  height: auto;
  display: block;
  margin: 20px auto;
}

footer {
  background-color: #2373af;
  color: #fff;
  padding: 10px;
  text-align: center;
}
